{% extends "core/base.html" %}

{% block title %}Panou contabilitate{% endblock %}

{% block header %}Panou principal{% endblock %}

{% block content %}
  <h2>Bine ați venit în aplicația contabilă a universității!</h2>
  <p>Alegeți o secțiune din meniu pentru a începe:</p>
  <ul>
    <li><a href="{% url 'supplier_list' %}">Agenți comerciali</a></li>
    <li><a href="{% url 'contract_list' %}">Contracte</a></li>
    <li><a href="{% url 'factura_list' %}">Facturi</a></li>
    <li><a href="{% url 'plata_list' %}">Plăți</a></li>
    <li><a href="{% url 'report_contracts' %}">Rapoarte</a></li>
  </ul>
{% endblock %}